<!-- HEADER -->

<div class="pt-3 pb-2 mb-3 border-bottom">

  <h2 class="h2">Adicionar Banda</h2>

</div>

<!-- HEADER -->

<!-- FORMULÁRIO -->

<form [formGroup]="bandaForm" (ngSubmit)="submitForm()" novalidate>

  <!-- ADAPTA O TAMANHO DO FORMULÁRIO DE ACORDO COM A TELA-->

  <div class="row">

    <div class="col-lg-6 col-md-8 col-sm-12">

      <!-- LINHA 1 - CAMPO NOME -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': nome?.touched && nome?.invalid}"

            for="nome" class="form-label">Nome</label>

          <input

            [ngClass]="{'is-invalid': nome?.touched && nome?.invalid, 'is-valid': nome?.touched && nome?.valid}"

            type="text" id="nome" class="form-control" formControlName="nome" required/>

          <!-- errors-->

          <div class="invalid-feedback"><sup>*</sup>Nome obrigatório</div>

        </div>

      </div>

      <!-- LINHA 1 - CAMPO NOME -->

      <!-- LINHA 2 - CAMPO ano -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': ano?.touched && ano?.invalid}"

            for="ano" class="form-label">Ano</label>

          <input

            [ngClass]="{'is-invalid': ano?.touched && ano?.invalid, 'is-valid': ano?.touched && ano?.valid}"

            type="number"

            formControlName="ano"

            class="form-control"

            required

          />

          <!-- Validation FeedBack -->

          <div class="invalid-feedback"><sup>*</sup>Ano obrigatório</div>

        </div>

      </div>

      <!-- LINHA 2 - CAMPO ano -->

      <!-- LINHA 3 - CAMPO estilo -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': estilo?.touched && estilo?.invalid}"

            for="estilo" class="form-label">estilo:</label>

          <input

            [ngClass]="{'is-invalid': estilo?.touched && estilo?.invalid, 'is-valid': estilo?.touched && estilo?.valid}"

            type="text"

            formControlName="estilo"

            class="form-control"

            required

          />

          <!-- Validation FeedBack -->

          <div class="invalid-feedback"><sup>*</sup>Informe apenas números</div>

        </div>

      </div>

      <!-- LINHA 3 - CAMPO estilo -->

      <!-- BOTÕES DO FORMULÁRIO -->

      <div class="form-group text-end">

        <button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">

          Limpar

        </button>

        <button type="submit" class="btn btn-success mx-2" [disabled]="!bandaForm.valid">

          Adicionar Banda

        </button>

      </div>

      <!-- BOTÕES DO FORMULÁRIO -->

    </div>

  </div>

 <!-- ADAPTA O TAMANHO DO FORMULÁRIO DE ACORDO COM A TELA-->

</form>

<!-- FORMULÁRIO -->






